body {
    background-color: #9ed6f7;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 2vh 8vw;
    gap: 8vw;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;

    background-color: green;
}

header img {
    height: 10vh;
}

header address {
    margin-top: auto;
    margin-bottom: auto;
}

.headshot {
    object-fit: cover;
    width: 70%;
    max-height: 100%;
}
